* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Voltaire', sans-serif; 
}

:root {
    --primary: #e8d1bc;
    --secondary: #524031;
    --third: #a08c52;
    --fourt: #52403183;
    --fifth: #c48f64;
    --height: 80px
}

body {
    background: var(--primary);
}

.navbar {
    font-size: 1.2em;
    background: var(--secondary);
    border: 2px solid rgba(0,0,0,0.2);
    color: var(--primary);
    padding: 10px;
    align-items: center;
}   

.navbar2 {
    justify-content: center;
    display: flex;
    align-items: center;
}

.main-nav {
    list-style: none;
    display: none;
}

.nav-links, .logo {
    text-decoration: none;
    color: inherit
}

#logo {
    width: 50px;
    margin-left: 20px;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 1.8em;
    margin: 20px 0 0 20px;
}

.navbar-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 1.8em;
}

#chkToggle {
    display: none;
}

#chkToggle:checked +ul.main-nav {
    display: block;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 70%;
    max-width: 400px;
    display: flex;
    align-items: center;
    border: 2px solid var(--secondary);
    border-radius: 30px;
    padding: 3px 5px;
    margin: 20px 0 20px 0;
    background-color: var(--fourt);
}

.search-bar input {
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 3px 10px;
    font-size: 15px;
}

::placeholder {
    color: var(--secondary);
    font-weight: bold;
}

#lupa {
    width: 20px;
}

.search-bar button {
    border: 2px solid var(--secondary);
    border-radius: 70%;
    width: 35px;
    height: 35px;
    background-color: var(--primary);

}

.new {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newbar {
    border: 1px solid var(--fifth);
    background-color: var(--fifth);
    border-radius: 15px;
    padding: 5px 3px;
    margin: 10px 15px;
    box-shadow: 5px 5px 8px 2px var(--secondary);
}

.new img {
    width: var(--height);
    float: left;
    margin-left: 5px;
}

.new p {
    font-size: 30px;
    color: var(--secondary);
    text-align: center;
    margin: 0 auto;
}

.productos {
    margin: 15px 15px;
    padding: 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.item {
    border: 1px solid rgba(156, 19, 19, 0);
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.32);
    width: 350px;
    height: 560px;
}

.product p {
    color: var(--secondary);
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.item img {
    margin: 10px 0 10px 0;  
}

/*intenté poner lo que es la barra de "Añadir al carrito" un poco más centrado, 
pero al tener dos lineas, se desplaza muy hacia abajo, casi en el borde..por mucho que modifique
el tamaño del item, sigue estando casi en el borde de abajo*/
  

.carrito .cesta {
    margin-right: 5px;
}

.carrito  a{
    line-height: 1;
    align-content: baseline;
    display: inline-block;
    padding: 10px 90px;
    background-color: var(--secondary);
    color: var(--primary);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.3s;
    box-shadow: 0px 6px 0px -2px rgba(7, 9, 10, 0.541);
    border: 2px solid black;
}

.carrito a:hover {
    background-color: var(--third);
    color: black;
    box-shadow: 0 6px 0 -2px rgba(7, 9, 10, 0.541);
    transform: translateY(2px);
    cursor: pointer;
}

#more {
    display: flex;
    justify-content: center;
}

#more a {
    text-decoration: none;
}

.mostrar h2 {
    border: 1px solid var(--fifth);
    background-color: var(--fifth);
    border-radius: 15px;
    padding: 10px 10px;
    margin: 10px 0 20px 0;
    box-shadow: 5px 5px 8px 2px var(--secondary);   
    color: var(--secondary);
}

.publicidad {
    display: flex;
    flex-wrap: wrap;
}

.video video {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

footer {
    background: linear-gradient(var(--fifth),#a1583e);
    margin-top: 30px;
    border-top: #a1583e 1px solid;
    height: 100%;
}

.redes_category {
    display: wrap;
    justify-content: center;
    align-items: center;
}

footer h2 {
    margin-bottom: 15px;
    color: #6f3831;
    font-size: 30px;
}

footer li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 25px;
}

footer .category li span {
    margin-left: 10px;
}

footer .category {
    flex: 1;
    margin: 10px;
    padding: 20px 0px 0px 30px;
    align-items: center;
}

footer .category li a {
    text-decoration: none;
    color: #efe3d6; 
}

.copy {
    background: #331715;
    color: #dec6a9;
    display: grid;
    text-align: center;
    padding: 10px;
    width: 100%;

}

.copy a {
    color: #dec6a9;
}


@media screen and (max-width:375px) {

    #compra {
        display: none;
    }

    .icon {
        margin-right: 10px;
    }
}


@media screen and (min-width:768px) {

    #compra {
        display: none;
    }

    h2 {
        font-size: 40px;
    }

    #logo {
        width: 60px;
    }

    .navbar-toggle {
        font-size: 50px;
    }

    .nav-links{
        font-size: 30px;
    }
    
    .secciones {
        display: flex;
        justify-content: center;
        
    }

    .copy {
        font-size: 25px;
    }
}

@media screen and (min-width:1024px) {

    .navbar {
        align-items: center;

    }
    
    .navbar2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        
    }

    #logo {
        width: 70px;
    }

    .main-nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;
    }

    #compra {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0 auto;
    }

    .nav-links:not(#hidden){
        border: 1px solid var(--primary);
        padding: 10px;
        border-radius: 10px;
        
    }

    .nav-links:hover {
        color: var(--secondary);
        background: var(--fifth);
    }

    label {
        display: none;
    }

    #hidden {
        display: none;
    }

    #compra {
        display: flex;
    }
    
    .wolf {
        width: 35px;
        margin-left: 5px;
    }

    .publicidad {
        display: flex;
        justify-content: space-between;

    }

    .video {
        width: 520px;
    }
    
}    
